{% extends 'base.html.twig' %}

{% block title %}Редактировать информацию о месте{% endblock %}

{% block body %}
    <h1>Редактировать информацию о месте</h1>

    {{ form(form) }}

    <a href="{{ path('app_place_index') }}">Вернуться к списку</a>

{% endblock %}
