{% extends 'base.html.twig' %}

{% block title %}Добавить место{% endblock %}

{% block body %}
    <h1>Добавить место</h1>

    {{ form(form) }}

    <a href="{{ path('app_place_index') }}">Вернуться к списку</a>
{% endblock %}
